plugins:
  - jekyll-sitemap
  - jekyll-paginate

kramdown:
  auto_ids: true

paginate: 5
paginate_path: "/blog/page:num/"

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      permalink: /:collection/:name
  - scope:
      path: "assets/img"
    values:
      image: true
  - scope:
      path: ""
    values:
      layout: "default"