<div id="nav-bar">
  {% for item in site.data.navigation %}
    {% assign category_name = item.name | downcase %}
    {% if page.url contains category_name %} 
    <div class="nav-current" id="nav-{{ category_name }}">
      <a href="{{ item.link }}" {% if page.url == item.link %}class="current-link"{% endif %}>{{ item.name }}</a>
    </div>
    {% elsif page.url == "/" and category_name == "about" %}
    <div class="nav-current" id="nav-{{ category_name }}">
      <a href="{{ item.link }}" {% if page.url == item.link %}class="current-link"{% endif %}>{{ item.name }}</a>
    </div>
    {% else %}
    <div class="nav-rect" id="nav-{{ category_name }}">
      <a href="{{ item.link }}" {% if page.url == item.link %}class="current-link"{% endif %}>{{ item.name }}</a>
    </div>
    {% endif %}
  {% endfor %}
  <div class="nav-rect" id="nav-end"></div>
</div>

