<div id="nav-bar">
  {% for entry in site.data.categories %}
    {% assign category_key = entry[0] %}
    {% assign category = entry[1] %} 
    {% if page.url contains category_key %} 
    <div class="nav-current" id="nav-{{ category_key }}">
      <a href="{{ category.link }}" {% if page.url == category.link %}class="current-link"{% endif %}>{{ category.name }}</a>
    </div>
    {% elsif page.url == "/" and category_key == "about" %}
    <div class="nav-current" id="nav-{{ category_key }}">
      <a href="{{ category.link }}" {% if page.url == category.link %}class="current-link"{% endif %}>{{ category.name }}</a>
    </div>
    {% else %}
    <div class="nav-rect" id="nav-{{ category_key }}">
      <a href="{{ category.link }}" {% if page.url == category.link %}class="current-link"{% endif %}>{{ category.name }}</a>
    </div>
    {% endif %}
  {% endfor %}
  <div class="nav-rect" id="nav-end"></div>
</div>

