*, ::before, ::after {
    box-sizing: border-box;
}

* {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 22px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}


ul {
    list-style-type: square;
    margin: 2px;
    line-height: 120%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #ffcdb2;
}

tr:nth-child(odd) {
    background-color: #ffb4a2;
}

td {
    padding: 10px;
}

hr.solid {
    border-top: 1px solid #bbb;
}

a:link { color:#4682b4; text-decoration: none; }
a:visited { color: #4682b4; text-decoration: none; }
a:hover { color: #4682b4; text-decoration: underline; }

a:link.current-link { color:#8a2be2; text-decoration: none; }
a:visited.current-link { color: #8a2be2; text-decoration: none; }
a:hover.current-link { color: #8a2be2; text-decoration: underline; }

div.nav {
    padding: 5px 2%;
}

div.main-container {
    width: 60%;
    position: center;
    margin: auto;
}

div.clearfix {
    clear: both;
    display: block;
}

div.image-container {
    float: left;
    padding: 15px;
}

div.body-text {
    padding: 5px 2%;
}

div.bottom-bar {
    padding: 5px 0px 5px 2%; 
    margin: 10px 0 0 0;
    font-size: 10px;
    float: right;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
