body {
    background-size: 100px 100px;
    background: #FFE5B4;
    font-family: georgia,serif;
    color: white;
}

a:link {
    color: #FFFFFF;  
}

a:visited {
    color: #FFFFFF;
}

a:hover {
    color: #CCCCCC;
}

a:active {
    color: #BBBBBB;
}

.current {
    color: green;
}

div.navigation-element {
    border-radius: 3px;
    border-style: solid;
    border-color: brown;
    background-color: #954535;
    padding: 20px;
    margin: 20px;
    width: auto;
    height: auto;
    float: left;
}

div.clearfix {
    clear: both;
    display: block;
}

div.title {
    border-radius: 3px;
    border-style: solid;
    border-color: brown;
    background-color: #954535;
    padding: 20px;
    margin: 20px;
    width: auto;
    height: auto;
}

div.body {
    border-radius: 3px;
    border-style: solid;
    border-color: brown;
    background-color: #954535;
    padding: 20px;
    margin: 40px 20px 40px 20px; /* 40px to avoid margin collapse between body and title */
    width: auto;
    height: auto;
}

div.photo-container {
    float: left;
    padding: 15px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
