---
---

#nav-bar {
  flex-wrap: nowrap;
  display: flex;
}

div.nav-rect {
  padding: 10px;
  float: left;
  height: 50px;
  width: auto;
  border-bottom: 2px solid #000000;
}

div.nav-current {
  padding: 10px;
  float: left;
  height: 50px;
  width: auto;
  border-bottom-style: none;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}

#nav-end {
  background-color: #ffffff;
  width: 100%;
  float: left;
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

{% for item in site.data.navigation %}
  {% assign category_name = item.name | downcase %}
  #nav-{{ category_name }} {
    background-color: {{ site.data.categories[category_name].color-secondary }};
  }
{% endfor %}

{% for item in site.data.categories %}
  #{{ item[0] }} tr:nth-child(even) {
    background-color: {{ item[1].color-primary }};
  }
  #{{ item[0] }} tr:nth-child(odd) {
    background-color: {{ item[1].color-secondary }};
  }
{% endfor %}

*, ::before, ::after {
    box-sizing: border-box;
}

* {
    font-family: "consolas";
    font-size: 22px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
    text-decoration: underline;
}

h3 {
    text-decoration: underline;
}

blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}


ul {
    list-style-type: square;
    margin: 2px;
    line-height: 120%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    text-align: left;
}

td {
    padding: 10px;
}

hr.solid {
    border-top: 1px solid #bbb;
}

a:link { color:#000000; text-decoration: none; }
a:visited { color: #000000; text-decoration: none; }
a:hover { color: #000000; text-decoration: underline; }

a:link.current-link { color:#ffffff; text-decoration: none; }
a:visited.current-link { color: #ffffff; text-decoration: none; }
a:hover.current-link { color: #ffffff; text-decoration: underline; }

div.main-container {
  margin: 2%;
}

div.clearfix {
    clear: both;
    display: block;
}

div.image-container {
    float: left;
    padding: 15px;
}

div.body-text {
    padding: 0% 2%;
    color: #000000;
}

#body-about {
    padding: 2% 2%;
    color: #000000;
    background-color: {{ site.data.categories["about"].color-primary }};
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;

}

div.table-text {
    padding: 0% 0%;
    color: #ffffff;
    background-color: #a87932;
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
}

div.table-text a:link { color:#ffffff; text-decoration: none; }
div.table-text a:visited { color: #ffffff; text-decoration: none; }
div.table-text a:hover { color: #ffffff; text-decoration: underline; }

div.bottom-bar {
    padding: 5px 0px 5px 2%; 
    margin: 10px 0 0 0;
    font-size: 10px;
    float: right;
}

img.photo-album {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img.photo-album:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

img.post-icon {
  width: 32px;
  vertical-align: middle;
}
