---
layout: default
---

<style>
  {% for item in site.data.categories %}

  #{{ item[0] }} tr:nth-child(even) {
    background-color: {{ item[1].color-primary }};
  }
  #{{ item[0] }} tr:nth-child(odd) {
    background-color: {{ item[1].color-secondary }};
  }
  {% endfor %}
</style>
{% include navigation.html %}
<div style="clear:left;"></div>
<div class="table-text">
  <table id={{ page.category-to-show }}>

    {% for post in site.posts %}
      {% unless post.categories contains page.category-to-show %}
        {% continue %}
      {% endunless %}
    
      {% assign post_icon = post.icon %}
      {% unless post_icon %}{% assign post_icon = site.data.categories[page.category-to-show].default-icon %}{% endunless %}
    
      <tr>
        <td><img class="post-icon" src="{{ post_icon }}"></img></td>
        <td>{{ post.date | date: '%Y %B %d' }}</td>
        <td><a href="{{ post.url | relative_url }}">{{ post.title }}</a></td>
      </tr>
    {% endfor %}

  </table>
</div>