---
layout: default
---

{% include navigation.html %}

<div style="clear:left;"></div>
<div class="table-text">
  <table id={{ page.category-to-show }}>

    {% for post in site.posts %}
      {% unless post.categories contains page.category-to-show %}
        {% continue %}
      {% endunless %}
    
      {% assign post_icon = post.icon %}
      {% unless post_icon %}{% assign post_icon = site.data.categories[page.category-to-show].default-icon %}{% endunless %}
    
      <tr>
        {% comment %}
          <td style="width: 50px"><img class="post-icon" src="{{ post_icon }}"></img></td>
        {% endcomment %}
        <td><a href="{{ post.url | relative_url }}">{{post.date | date: '%Y-%m'}}: {{ post.title }}</a></td>
      </tr>
    {% endfor %}

  </table>
</div>